<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.0.2" targetFramework="xamarinios10" />
  <package id="Acr.UserDialogs" version="5.2.2" targetFramework="xamarinios10" />
  <package id="BTProgressHUD" version="1.2.0.2" targetFramework="xamarinios10" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="xamarinios10" />
  <package id="Splat" version="1.6.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="2.4.0-beta3" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.0.38-pre2" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Pages" version="2.3.0.38-pre2" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Theme.Base" version="1.0.0.43-pre1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Theme.Light" version="1.0.0.43-pre1" targetFramework="xamarinios10" />
</packages>